<!DOCTYPE HTML>
<html>
  <head>
    <title>Error</title>
    <link rel="stylesheet" href="stylesheets/vision.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h3 class='error'>Error</h3>
    <p><%= message %></p>
    <script src="javascripts/ejs.min.js"></script>
  </body>
</html>
